.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  background: transparent;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}