.heroContent {
	position: relative;
	z-index: 5;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}

.heroContent h2 {
	font-size: 3rem;
	color: white;
	font-weight: bold;
}

.heroContent p {
	margin-top: 15px;
	max-width: 600px;
	color: #f0f0f0;
	font-size: 1.1rem;
}

.exploreBtn {
	margin-top: 20px;
	padding: 12px 28px;
	border: none;
	border-radius: 6px;
	background: black;
	color: white;
	cursor: pointer;
	font-weight: 500;
	transition: 0.3s;
}

.exploreBtn:hover {
	background: #333;
}
